@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom cursor */
* {
    cursor: url('../images/custom-cursor.png'), auto;
}

#neatForm input {
    background-color: #111827;
    border-color: white;
}

#neatForm * {
    animation: fadeInUp;
    animation-duration: 1s;
}