@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    background: url('../images/arrow-down.png') no-repeat center center;
    padding: 0;
    cursor: url('../images/custom-cursor.png'), auto;
}

* {
    cursor: url('../images/custom-cursor.png'), auto !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px !important;
}
::-webkit-scrollbar:horizontal {
    height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-700
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-white
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}

button,
a {
    @apply bg-transparent shadow-lg hover:bg-indigo-100 text-white font-semibold hover:text-black py-2 px-4 border border-white hover:border-transparent rounded;
}

#neatForm {
    @apply bg-gray-950 shadow-md rounded px-8 pt-6 pb-8 mt-20 mb-20 w-screen max-w-2xl;
}

#neatForm .input-container {
    @apply block mb-4 md:flex md:items-center;
}

#neatForm .input-container label {
    @apply block text-white text-base mb-2;
}

#neatForm .input-container input:not([type="checkbox"]),
#neatForm .input-container select {
    @apply shadow hover:bg-gray-700 bg-gray-900 border-white border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none;
}

#neatForm h2 {
    @apply font-semibold text-xl mt-8 mb-4
}

.ticker_data_container {
    @apply grid grid-cols-3 md:grid-cols-4 bg-gray-800 w-full py-2 px-2 border-gray-500 border border-r-0 rounded rounded-r-none md:text-xl;
}

.x-button {
    @apply w-12 bg-gray-800 border-gray-500 rounded-l-none;
}

.fade {
    position: absolute;
    top: 0px;

    display: block;

    width: 100%;
    height: 29px;
    pointer-events: none;
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0) 96%,
            rgba(0, 0, 0, 0.9) 100%);
}

#neatForm>*:not([id="advanced"]), #advanced>* {
    animation: fadeInUp;
    animation-duration: 0.5s;
}

.fade-up {
    animation: fadeInUp;
    animation-duration: 0.4s;
}

.fade-left {
    animation: fadeInLeft;
    animation-duration: 0.4s;
}

.fade-right {
    animation: fadeInRight;
    animation-duration: 0.4s;
}