@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {    background: url('../images/arrow-down.png') no-repeat center center;
    padding: 0;
    cursor: url('../images/custom-cursor.png'), auto;
}
* {
    cursor: url('../images/custom-cursor.png'), auto !important;
}

button, a {
    @apply bg-transparent shadow-lg hover:bg-indigo-100 text-white font-semibold hover:text-black py-2 px-4 border border-white hover:border-transparent rounded;
}

#neatForm {
    @apply bg-gray-950 shadow-md rounded px-8 pt-6 pb-8 mt-20 mb-20 w-screen max-w-2xl;
}

#neatForm .input-container {
    @apply block mb-4 md:flex md:items-center;
}

#neatForm .input-container label {
    @apply block text-white text-base font-bold mb-2;
}

#neatForm .input-container input:not([type="checkbox"]), #neatForm .input-container select {
    @apply shadow hover:bg-gray-700 bg-gray-900 border-white border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none;
}


#neatForm > *{
    animation: fadeInUp;
    animation-duration: 0.5s;
}
