<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    {% block scripts %}
    {% endblock %}
</head>

<body class="bg-gray-900 text-white custom-cursor">
    <div id="progress" class="flex w-screen items-center justify-center z-10 fixed bg-gray-900">
        <div class="w-full max-w-screen-lg">
            <a href="/" class="fixed sm:m-3 top-0 right-0 p-1 z-20 border-none rounded-none rounded-bl-md sm:rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22" viewBox="0,0,256,256">
                    <g fill="#fcfcfc" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M12,2.09961l-11,9.90039h3v9h6v-7h4v7h6v-9h3z"></path></g></g>
                </svg>
            </a>                  
            <div class="w-full max-w-screen-lg p-4 flex justify-around">
                <a href="/fitness" class="md:text-lg border-none">
                    Fitness
                </a>
                <a href="/configurator" class="md:text-lg border-none">
                    Configure
                </a>
                <a href="/configurator" class="md:text-lg border-none pointer-events-none">
                    Compute
                </a>
            </div>
            <div id="progressBar" class="w-full">
                <div id="bar" class="bg-white h-1 w-0 block duration-700 ease-out">&nbsp;</div>
            </div>        
        </div>        
    </div>


    <div class="min-h-screen flex items-center justify-center">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>