<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    {% block scripts %}
    {% endblock %}
</head>

<body class="bg-gray-900 text-white custom-cursor">
    <div id="progress" class="flex w-screen items-center justify-center z-50 fixed bg-gray-900">
        <div class="w-full max-w-screen-lg">
            <div class="w-full max-w-screen-lg p-4 flex justify-around">
                <a href="/fitness" class="md:text-lg border-none">
                    Fitness
                </a>
                <a href="/configurator" class="md:text-lg border-none">
                    Configure
                </a>
                <a href="/configurator" class="md:text-lg border-none">
                    Compute
                </a>
            </div>
            <div id="progressBar" class="w-full">
                <div id="bar" class="bg-white h-1 w-0 block duration-700 ease-out">&nbsp;</div>
            </div>        
        </div>        
    </div>


    <div class="min-h-screen flex items-center justify-center">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>