<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white min-h-screen flex items-center justify-center custom-cursor">
    <a id="homeButton" href="/" class="absolute top-0 left-0 m-4 text-sm hover:bg-indigo-100 text-white font-semibold 
    hover:text-black py-2 px-4 
    border border-white-500 hover:border-transparent rounded">
        Home
    </a>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
