{% extends "base.html" %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/pyodide/v0.26.2/full/pyodide.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
    integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js"
    integrity="sha512-vnRdmX8ZxbU+IhA2gLhZqXkX1neJISG10xy0iP0WauuClu3AIMknxyDjYHEpEhi8fTZPyOCWgqUCnEafDB/jVQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js"
    integrity="sha512-1zKK2bG3QY2JaUPpfHZDUMe3dwBwFdCDwXQ01GrKSd+/l0hqPbF+aak66zYPUZtn+o2JYi1mjXAqy5mW04v3iA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block content %}
<div id="loadingContainer" class="fixed left-0 top-[76px] w-full md:top-20 text-center bg-gray-800">
    <h2 id="loadingText" class="text-xl">Loading...</h2>
    <div class="flex w-full justify-center">
        <div id="loadingBar" class="w-2/3 h-1 m-2 rounded-md bg-slate-700">
            <div id="loadingProgress" class="h-1 bg-white duration-1000 ease-in-out w-px rounded-md"></div>
        </div>
    </div>
</div>
<div class="overflow-clip w-full max-w-screen-lg">
    <div id="computeContainer" class="w-full pt-20 p-10 mt-20 mb-20">
        <p id="log" class="hidden">Log:</p>
        <div id="genomeDisplay" class="hidden">
            <div class="border border-gray-800 p-2 rounded-md">
                <div id="net-container" class="flex w-full justify-center"></div>
                <div class="flex w-full">
                    <div>
                        <span>Total Compound Returns: </span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="border border-gray-800 p-2 rounded-md">
                <div id="chartControls" class="w-full hidden justify-center">
                    <button onclick="prev()" class="bg-gray-800 text-white rounded-r-none">&#60;</button>
                    <a id="curTicker" class="rounded-none" target="_blank">APPL</a>
                    <button onclick="next()" class="bg-gray-800 text-white rounded-l-none">&#62;</button>
                </div>
                <div id="carousel" class="relative w-full overflow-hidden">
                    <div id="charts" class="flex transition-transform duration-300 ease-in-out">
                    </div>
                </div>
            </div>        
        </div>
    </div>    
</div>

<div id="genControls" class="hidden fixed bottom-0 w-full justify-between bg-gray-800 max-w-screen-md py-1 px-4 rounded-t-md">
    <button onclick="window.prevGen()">Prev</button>
    <div class="text-center">
        <span>Showing best genome of:</span>
        <h2 id="genOutput" class="font-bold text-xl"></h2>
    </div>
    <button onclick="window.nextGen()">Next</button>
</div>


<!-- Run Pyodide in separate thread to keep UI responsive -->
<script src="{{ url_for('static', filename='js/compute/compute.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/compute/consumer.js') }}"></script>
{% endblock %}