{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
<div id="calculator" class="absolute bottom-0  w-full overflow-y-hidden">
    <div id="displayContainer" class="content-center p-4">
        <div id="display" class="animate__animated animate__fadeInDown animate__faster bg-gray-900 border border-white p-5 rounded-lg shadow-lg h-full">
            <span id="output" class="break-words max-w-full"></span>
            <div id="caret" class="absolute animate__animated animate__flash forever w-px h-5 bg-white"></div>
        </div>        
    </div>
    <div id="calcPad" class="animate__animated animate__fadeInUp animate__faster rounded-t-xl bg-gray-950 md:grid md:grid-cols-3">
        <div id="metrics" class="md:col-span-1 p-2">
            metrics
        </div>
        <div id="keyboard" class="col-span-2 grid grid-cols-2 p-3">
            <div id="numpad" class="col-span-1 grid grid-cols-3">
                <button class="px-0 m-1">7</button>
                <button class="px-0 m-1">8</button>
                <button class="px-0 m-1">9</button>
                <button class="px-0 m-1">4</button>
                <button class="px-0 m-1">5</button>
                <button class="px-0 m-1">6</button>
                <button class="px-0 m-1">1</button>
                <button class="px-0 m-1">2</button>
                <button class="px-0 m-1">3</button>
                <button class="px-0 m-1">.</button>
                <button class="px-0 m-1">0</button>
                <button class="px-0 m-1">-</button>
            </div>
            <div id="operators" class="mx-2 col-span-1 grid grid-cols-3">
                <button class="px-0 m-1">+</button>
                <button class="px-0 m-1">^</button>
                <button id="backspace" class="px-0 m-1 border-red-700">←</button>
                <button class="px-0 m-1">-</button>
                <button class="px-0 m-1">log</button>
                <button id="clear" class="px-0 m-1 border-purple-400">Clear</button>
                <button class="px-0 m-1">*</button>
                <button class="px-0 m-1">(</button>
                <button class="px-0 m-1">)</button>
                <button class="px-0 m-1">/</button>
                <button class="px-0 m-1"></button>
                <button id="done" class="px-0 m-1 border-teal-300"> Done </button>
                <button class="px-0 m-1">◄</button>
                <button class="px-0 m-1">►</button>

            </div>
        </div>        
    </div>

</div>    
{% endblock %}
